body {
	max-width: 600px;
	background: #f9f9f9;
	margin: 40px auto;
	font-family: sans-serif;
	letter-spacing: 0.05em;
	color: #666;
	}
	
	#input {
		background-color: #f0f0f0;
		padding: 10px;
		border: 1px solid #ccc;
		border-bottom: none;
		}
		
		h1 {
			margin: 5px 0 10px 12px;
			}
		
		p.description {
			margin-left: 12px;
			font-size: 10px;
			}
			
		form {
			margin-left: 10px;
			}
			
			td:first-child {
				padding-right: 40px;
				border-right: 1px solid #ccc;
			}
			
			td:nth-child(2) {
				padding-left: 15px;
			}
			
			span {
				font-size: 12px;
				padding-right: 5px;
			}
			
			input {
				margin-top: 5px;
				}
				
	#output {
		background-color: #ccc;
		border: 1px solid #aaa;
		max-width: 600px;
		min-height: 40px;
		padding-left: 18px;
		}
		
		p {
			padding: 0px;
			margin: 10px 0px;
			}